# Core functionality - changes here should be rare!
/src/app.py                   @GHan2025
/src/backend/database.py      @GHan2025
/src/backend/routers/auth.py  @GHan2025

# The frontend will need refactored soon to be more object oriented.
/src/static/   @GHan2025
